<!DOCTYPE html>
<html lang="en">
<div class="index-html">
	<head>
		<meta charset="UTF-8">
		<link href="style.css" rel="stylesheet" type="text/css">
		<title>Document</title>

	</head>
	<body>
		<div class= "nav">
				<a href="/login">Login</a>
				<a href="/search">Search</a>
				<a href="/signup">Sign Up</a>
				<a href="/profile">Profile</a>
		</div>
				<div class="index-view"
					<h1> Welcome to the kobe search</h1>
			  	</div>	
			  		<div class="kobe-video1">
			  		<iframe width="853" height="480" src="https://www.youtube.com/embed/hFj0KUzofNg" frameborder="0" allowfullscreen></iframe>
					</div>

		
		
	</body>
</html>