<!DOCTYPE html>
<html lang="en">
<div class="index-html">
	<head>
		<meta charset="UTF-8">
		<link href="style.css" rel="stylesheet" type="text/css">
		<title>Document</title>

	</head>
		<div class= "nav">
		<body>
			<a href="/login">Login</a>
			<a href="/search">Search</a>
			<a href="/signup">Sign Up</a>
			<a href="/profile">Profile</a>
		</div>

	
		<h1> Welcome to the kobe search</h1>
	  	<div class="kobe-video1">
	  		<iframe width="960" height="720" src="https://www.youtube.com/embed/mP0KrBuRb6c" frameborder="0" allowfullscreen></iframe>
		<div class="kobe-video1">
		</body>
		</div>
</div>
</html>