<!DOCTYPE html>
<html lang="en">
	
	
			<head>
				<meta charset="UTF-8">
				<title>Login page</title>
			</head>
			<body>
				
			<div class="body-login">
			<body>
				<a href="/search">Search</a>
				<a href="/signup">Sign Up</a>
			</div>	
		<img src="http://huzlers.com/wp-content/uploads/2014/01/130413110806-kobe-bryant-injury-future-single-image-cut1.jpg">
				<form method="POST" action="/login">
					<input type="text" name="user[email]" placeholder="Email">
					<input type="password" name="user[password]" placeholder="Password">
					<button>login</button>
				</form>
			<body>
			
			
	
</html>