<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login page</title>
</head>
<body>
		<div>
			<a href="/search">Search</a>
			<a href="/signup">Sign Up</a>
		</div>
	<form method="POST" action="/login">
		<input type="text" name="user[email]" placeholder="Email">
		<input type="password" name="user[password]" placeholder="Password">
		<button>login</button>
	</form>
</body>
</html>