<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	<div>
			<a href="/login">Login</a>
			<a href="/signup">Sign Up</a>
			<a href="/profile">Profile</a>
		</div>
	<form method="GET" action="/search">
		<input type="text" name="q3" placeholder="Search">
		<button>Click me now!</button>
	</form>
</body>
</html>