<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>S1gn vp p@g3</title>
</head>
<body>
		<div>
			<a href="/login">Login</a>
			<a href="/search">Search</a>
			<a href="/signup">Sign Up</a>
			<a href="/profile">Profile</a>
		</div>
	<form method="POST" action="/signup">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="text" name="first" placeholder="First Name">
		<input type="text" name="last" placeholder="Last Name">
		<input type="text" name="phone" placeholder="phone# optional">
		<input type="text" name="usrname" placeholder="create a user name">
		<button>Sign up</button>
	</form>
</body>
</html>